In [4]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

In [5]:
df = pd.DataFrame(
    {'h': [150,160,170,180,190],
    'w': [50,60,70,80,90]}
)
df

     h   w
0  150  50
1  160  60
2  170  70
3  180  80
4  190  90

In [6]:
df.describe()

                h          w
count    5.000000   5.000000
mean   170.000000  70.000000
std     15.811388  15.811388
min    150.000000  50.000000
25%    160.000000  60.000000
50%    170.000000  70.000000
75%    180.000000  80.000000
max    190.000000  90.000000